@tailwind base;
@tailwind components;
@tailwind utilities;

/* smooth transitions for buttons/inputs */
.transition-all {
    transition: all 0.2s ease-in-out;
}

/* Star rating hover effect */
.hovering .star:hover {
    color: #2dd4bf;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeIn {
    animation: fadeIn .15s ease-out;
}